[Desktop Entry]
Name=Cursor
Exec=sh -c "/usr/local/bin/cursor --no-sandbox"
Icon=/usr/local/cursor/cursor-dark.avif
Type=Application
Categories=Development;
