[data.user]
name = "Stefan Karlsson"
email = "iam@stefan-karlsson.se"

[onepassword]
mode = "account"
prompt = true

[edit]
command = "code"
args = ["--wait"]

[diff]
command = "code"
args = ["--wait", "--diff"]

[merge]
command = "bash"
args = [
  "-c",
  {{ printf "%q" "cp {{ .Target | quote }} {{ printf \"%s.base\" .Target | quote }} && code --new-window --wait --merge {{ .Destination | quote }} {{ .Target | quote }} {{ printf \"%s.base\" .Target | quote }} {{ .Source | quote }}" }},
]
