# shellcheck shell=sh
# chezmoi:template:left-delimiter="# {{" right-delimiter=}}

if [ -x /home/linuxbrew/.linuxbrew/bin/brew ]; then
  # shellcheck disable=SC2312
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
elif [ -x "${HOME}/.linuxbrew/bin/brew" ]; then
  # shellcheck disable=SC2312
  eval "$("${HOME}/.linuxbrew/bin/brew" shellenv)"
fi

if [ -d "${HOME}/.volta/bin" ]; then
  export VOLTA_HOME="${HOME}/.volta"
  export PATH="${VOLTA_HOME}/bin:${PATH}"
fi

if [ -d "${HOME}/.deno/bin" ]; then
  export DENO_INSTALL="${HOME}/.deno"
  export PATH="${DENO_INSTALL}/bin:${PATH}"
fi

if [ -d "${HOME}/.dotnet" ]; then
  export DOTNET_ROOT=/usr/lib/dotnet/
  export DOTNET_HOME="${HOME}/.dotnet"

  export PATH=$PATH:$DOTNET_ROOT:$DOTNET_HOME/tools
fi

if [ -d "${HOME}/bin" ]; then
  export PATH="${HOME}/bin:${PATH}"
fi

if [ -d "${HOME}/.local/bin" ]; then
  export PATH="${HOME}/.local/bin:${PATH}"
fi

export VISUAL="# {{ .editor }}"
export EDITOR="# {{ .editor }}"

if [ -d "${HOME}/.aspnet/dev-certs" ]; then
  export SSL_CERT_DIR="${HOME}/.aspnet/dev-certs/trust:/usr/lib/ssl/certs"
fi

# {{ if .is_wsl -}}
export BROWSER="wslview"
# {{- end }}
