{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu") -}}
#!/usr/bin/env bash
set -euo pipefail

font_name="FiraCode Nerd Font Mono 13"

if ! command -v ptyxis >/dev/null 2>&1; then
  exit 0
fi

if [[ "$(gsettings get org.gnome.Ptyxis use-system-font)" != "false" ]]; then
  gsettings set org.gnome.Ptyxis use-system-font false
fi

if [[ "$(gsettings get org.gnome.Ptyxis font-name)" != "'${font_name}'" ]]; then
  gsettings set org.gnome.Ptyxis font-name "${font_name}"
fi
{{- end }}
