[General]
savePath={{ .chezmoi.homeDir }}/Pictures/Screenshots
savePathFixed=false
saveAsFileExtension=.png
filenamePattern=%F_%H-%M-%S
showDesktopNotification=true
startupLaunch=true
showStartupLaunchMessage=false
